<!DOCTYPE html>
<html>
<head>
    <title>Wordle</title>
    <style>
    body {
            background-image: url("static/background.png");
            background-repeat:no-repeat;
            background-size:cover;
        }

    </style>
    <script type="text/javascript" src="static/js_script.js"></script>
</head>
<body>
<center>
<h2 style="color: red">{{word}}</h2>
</center>
<br>
<br>
<center>
    <img id="11" src="static/input.png">
    <img id="12" src="static/input.png">
    <img id="13" src="static/input.png">
    <img id="14" src="static/input.png">
    <img id="15" src="static/input.png">
</center>
<br>
<center>
    <img id="21" src="static/input.png">
    <img id="22" src="static/input.png">
    <img id="23" src="static/input.png">
    <img id="24" src="static/input.png">
    <img id="25" src="static/input.png">
</center>
<br>
<center>
    <img id="31" src="static/input.png">
    <img id="32" src="static/input.png">
    <img id="33" src="static/input.png">
    <img id="34" src="static/input.png">
    <img id="35" src="static/input.png">
</center>
<br>
<center>
    <img id="41" src="static/input.png">
    <img id="42" src="static/input.png">
    <img id="43" src="static/input.png">
    <img id="44" src="static/input.png">
    <img id="45" src="static/input.png">
</center>
<br>
<center>
    <img id="51" src="static/input.png">
    <img id="52" src="static/input.png">
    <img id="53" src="static/input.png">
    <img id="54" src="static/input.png">
    <img id="55" src="static/input.png">
</center>
<br>
<center>
    <img id="61" src="static/input.png">
    <img id="62" src="static/input.png">
    <img id="63" src="static/input.png">
    <img id="64" src="static/input.png">
    <img id="65" src="static/input.png">
</center>
<br><br><br><br>
<center>
    <input type="image" name=submit value="a" onclick=a() src="static/buttons/letter1.png" />
    <input type="image" name=submit value="b" src="static/buttons/letter2.png" />
    <input type="image" name=submit value="c"  src="static/buttons/letter3.png" />
    <input type="image" name=submit value="d"  src="static/buttons/letter4.png" />
    <input type="image" name=submit value="e"  src="static/buttons/letter5.png" />
    <input type="image" name=submit value="f"  src="static/buttons/letter6.png" />
    <input type="image" name=submit value="g"  src="static/buttons/letter7.png" />
    <input type="image" name=submit value="h"  src="static/buttons/letter8.png" />
    <input type="image" name=submit value="i"  src="static/buttons/letter9.png" />
    <input type="image" name=submit value="j"  src="static/buttons/letter10.png" />
    <input type="image" name=submit value="k"  src="static/buttons/letter11.png" />
    <input type="image" name=submit value="l" src="static/buttons/letter12.png" />
    <input type="image" name=submit value="m" src="static/buttons/letter13.png" />
</center>
<br>
<center>
    <input type="image" name=submit value="n" src="static/buttons/letter14.png" />
    <input type="image" name=submit value="o" src="static/buttons/letter15.png" />
    <input type="image" name=submit value="p" src="static/buttons/letter16.png" />
    <input type="image" name=submit value="q" src="static/buttons/letter17.png" />
    <input type="image" name=submit value="r" src="static/buttons/letter18.png" />
    <input type="image" name=submit value="s" src="static/buttons/letter19.png" />
    <input type="image" name=submit value="t" src="static/buttons/letter20.png" />
    <input type="image" name=submit value="u" src="static/buttons/letter21.png" />
    <input type="image" name=submit value="v" src="static/buttons/letter22.png" />
    <input type="image" name=submit value="w" src="static/buttons/letter23.png" />
    <input type="image" name=submit value="x" src="static/buttons/letter24.png" />
    <input type="image" name=submit value="y" src="static/buttons/letter25.png" />
    <input type="image" name=submit value="z" src="static/buttons/letter26.png" />
</center>


<!--<a href="https://wordle.nyc/">-->
<!--    <button>My text</button>-->
<!--</a>-->
</body>
</html>