<!DOCTYPE html>
<html>
<head>
    <title>Wordle</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <style>
    body {
            background-image: url("static/background.png");
            background-repeat:no-repeat;
            background-size:cover;
        }

    </style>
    <script>
        var state = {{ state|safe }};

    </script>
    <script src="/static/js_script.js"></script>
</head>
<body>
<center><h1 style="
{color: #b48608;
    font-family: 'Droid serif', serif;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    line-height: 44px;
    margin: 0 0 12px;
    text-align: center; }"
><a id="wordle" href="localhost:8000" target=”_blank”>WORDLE</a></h1></center>
<center>
<h2 style="color: red">{{ word }}</h2>
</center>
<br>
<br>
<center>
    <img id="11" src="static/input.png">
    <img id="12" src="static/input.png">
    <img id="13" src="static/input.png">
    <img id="14" src="static/input.png">
    <img id="15" src="static/input.png">
</center>
<br>
<center>
    <img id="21" src="static/input.png">
    <img id="22" src="static/input.png">
    <img id="23" src="static/input.png">
    <img id="24" src="static/input.png">
    <img id="25" src="static/input.png">
</center>
<br>
<center>
    <img id="31" src="static/input.png">
    <img id="32" src="static/input.png">
    <img id="33" src="static/input.png">
    <img id="34" src="static/input.png">
    <img id="35" src="static/input.png">
</center>
<br>
<center>
    <img id="41" src="static/input.png">
    <img id="42" src="static/input.png">
    <img id="43" src="static/input.png">
    <img id="44" src="static/input.png">
    <img id="45" src="static/input.png">
</center>
<br>
<center>
    <img id="51" src="static/input.png">
    <img id="52" src="static/input.png">
    <img id="53" src="static/input.png">
    <img id="54" src="static/input.png">
    <img id="55" src="static/input.png">
</center>
<br>
<center>
    <img id="61" src="static/input.png">
    <img id="62" src="static/input.png">
    <img id="63" src="static/input.png">
    <img id="64" src="static/input.png">
    <img id="65" src="static/input.png">
</center>
<br><br><br><br>
<center>
    <input type="image" name="submit" id="a" onclick="a()" src="static/buttons/letter1.png" />
    <input type="image" name="submit" id="b" onclick="b()" src="static/buttons/letter2.png" />
    <input type="image" name="submit" id="c" onclick="c()" src="static/buttons/letter3.png" />
    <input type="image" name="submit" id="d" onclick="d()" src="static/buttons/letter4.png" />
    <input type="image" name="submit" id="e" onclick="e()" src="static/buttons/letter5.png" />
    <input type="image" name="submit" id="f" onclick="f()" src="static/buttons/letter6.png" />
    <input type="image" name="submit" id="g" onclick="g()" src="static/buttons/letter7.png" />
    <input type="image" name="submit" id="h" onclick="h()" src="static/buttons/letter8.png" />
    <input type="image" name="submit" id="i" onclick="i()" src="static/buttons/letter9.png" />
    <input type="image" name="submit" id="j" onclick="j()" src="static/buttons/letter10.png" />
    <input type="image" name="submit" id="k" onclick="k()" src="static/buttons/letter11.png" />
    <input type="image" name="submit" id="l" onclick="l()" src="static/buttons/letter12.png" />
    <input type="image" name="submit" id="m" onclick="m()" src="static/buttons/letter13.png" />
    <input type="image" name="submit" id="enter" onclick="enter()" src="static/enter.png"/>
</center>
<br>
<center>
    <input type="image" name=submit id="n" onclick="nn()" src="static/buttons/letter14.png" />
    <input type="image" name=submit id="o" onclick="o()" src="static/buttons/letter15.png" />
    <input type="image" name=submit id="p" onclick="p()" src="static/buttons/letter16.png" />
    <input type="image" name=submit id="q" onclick="q()" src="static/buttons/letter17.png" />
    <input type="image" name=submit id="r" onclick="r()" src="static/buttons/letter18.png" />
    <input type="image" name=submit id="s" onclick="s()" src="static/buttons/letter19.png" />
    <input type="image" name=submit id="t" onclick="t()" src="static/buttons/letter20.png" />
    <input type="image" name=submit id="u" onclick="u()" src="static/buttons/letter21.png" />
    <input type="image" name=submit id="v" onclick="v()" src="static/buttons/letter22.png" />
    <input type="image" name=submit id="w" onclick="w()" src="static/buttons/letter23.png" />
    <input type="image" name=submit id="x" onclick="x()" src="static/buttons/letter24.png" />
    <input type="image" name=submit id="y" onclick="y()" src="static/buttons/letter25.png" />
    <input type="image" name=submit id="z" onclick="z()" src="static/buttons/letter26.png" />
    <input type="image" name=submit id="delete" onclick="del()" src="static/buttons/delete.png" />
</center>

</body>
</html>