<!DOCTYPE html>
<html>
<head>
    <title>Wordle</title>
    <style>
    body {
            background-image: url("static/background.png");
            background-repeat:no-repeat;
            background-size:cover;
        }

    </style>
    <script src="/static/js_script.js" one={{word}}></script>
</head>
<body>
<center>
<h2 style="color: red">{{word}}</h2>
</center>
<br>
<br>
<center>
    <img id="11" src="static/input.png">
    <img id="12" src="static/input.png">
    <img id="13" src="static/input.png">
    <img id="14" src="static/input.png">
    <img id="15" src="static/input.png">
</center>
<br>
<center>
    <img id="21" src="static/input.png">
    <img id="22" src="static/input.png">
    <img id="23" src="static/input.png">
    <img id="24" src="static/input.png">
    <img id="25" src="static/input.png">
</center>
<br>
<center>
    <img id="31" src="static/input.png">
    <img id="32" src="static/input.png">
    <img id="33" src="static/input.png">
    <img id="34" src="static/input.png">
    <img id="35" src="static/input.png">
</center>
<br>
<center>
    <img id="41" src="static/input.png">
    <img id="42" src="static/input.png">
    <img id="43" src="static/input.png">
    <img id="44" src="static/input.png">
    <img id="45" src="static/input.png">
</center>
<br>
<center>
    <img id="51" src="static/input.png">
    <img id="52" src="static/input.png">
    <img id="53" src="static/input.png">
    <img id="54" src="static/input.png">
    <img id="55" src="static/input.png">
</center>
<br>
<center>
    <img id="61" src="static/input.png">
    <img id="62" src="static/input.png">
    <img id="63" src="static/input.png">
    <img id="64" src="static/input.png">
    <img id="65" src="static/input.png">
</center>
<br><br><br><br>
<center>
    <input type="image" name="submit" value="a" onclick="a()" src="static/buttons/letter1.png" />
    <input type="image" name="submit" value="b" onclick="b()" src="static/buttons/letter2.png" />
    <input type="image" name="submit" value="c" onclick="c()" src="static/buttons/letter3.png" />
    <input type="image" name="submit" value="d" onclick="d()" src="static/buttons/letter4.png" />
    <input type="image" name="submit" value="e" onclick="e()" src="static/buttons/letter5.png" />
    <input type="image" name="submit" value="f" onclick="f()" src="static/buttons/letter6.png" />
    <input type="image" name="submit" value="g" onclick="g()" src="static/buttons/letter7.png" />
    <input type="image" name="submit" value="h" onclick="h()" src="static/buttons/letter8.png" />
    <input type="image" name="submit" value="i" onclick="i()" src="static/buttons/letter9.png" />
    <input type="image" name="submit" value="j" onclick="j()" src="static/buttons/letter10.png" />
    <input type="image" name="submit" value="k" onclick="k()" src="static/buttons/letter11.png" />
    <input type="image" name="submit" value="l" onclick="l()" src="static/buttons/letter12.png" />
    <input type="image" name="submit" value="m" onclick="m()" src="static/buttons/letter13.png" />
    <input type="image" name="submit" value="enter" onclick="enter()" src="static/enter.png"/>
</center>
<br>
<center>
    <input type="image" name=submit value="n" onclick="n()" src="static/buttons/letter14.png" />
    <input type="image" name=submit value="o" onclick="o()" src="static/buttons/letter15.png" />
    <input type="image" name=submit value="p" onclick="p()" src="static/buttons/letter16.png" />
    <input type="image" name=submit value="q" onclick="q()" src="static/buttons/letter17.png" />
    <input type="image" name=submit value="r" onclick="r()" src="static/buttons/letter18.png" />
    <input type="image" name=submit value="s" onclick="s()" src="static/buttons/letter19.png" />
    <input type="image" name=submit value="t" onclick="t()" src="static/buttons/letter20.png" />
    <input type="image" name=submit value="u" onclick="u()" src="static/buttons/letter21.png" />
    <input type="image" name=submit value="v" onclick="v()" src="static/buttons/letter22.png" />
    <input type="image" name=submit value="w" onclick="w()" src="static/buttons/letter23.png" />
    <input type="image" name=submit value="x" onclick="x()" src="static/buttons/letter24.png" />
    <input type="image" name=submit value="y" onclick="y()" src="static/buttons/letter25.png" />
    <input type="image" name=submit value="z" onclick="z()" src="static/buttons/letter26.png" />
</center>


<!--<a href="https://wordle.nyc/">-->
<!--    <button>My text</button>-->
<!--</a>-->


</body>
</html>